<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CalculatorEngine" publicKeyToken="3a1061701aba2b5b" />
        <publisherPolicy apply="yes" />
        <bindingRedirect oldVersion="4.0.1.1" newVersion="5.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>